src/main/mule/poc_nisc_service_assurance_experience_api_v4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="poc_nisc_service_assurance_experience_api_v4-main">
        <http:listener config-ref="poc_nisc_service_assurance_experience_api_v4-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc_nisc_service_assurance_experience_api_v4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b26028bd-7ab5-45e2-b156-a64c3994c010">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"400",
            code:"ERR400",
            status:"400",
            title:"Bad Request",
            detail:"The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="13d848df-f1ba-43f0-9820-62174efb909f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"404",
            code:"ERR404",
            status:"404",
            title:"Not Found",
            detail:"The server has not found anything matching the Request-URI.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2bb02475-e26b-4fdf-ad35-fbba8b3fdbba">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"405",
            code:"ERR405",
            status:"405",
            title:"Method Not Allowed",
            detail:"The method specified in the Request-Line is not allowed for the resource identified by the Request-URI. The response MUST include an Allow header containing a list of valid methods for the requested resource.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ff98e8a8-3846-4af8-9c46-951a6847cdeb">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"406",
            code:"ERR406",
            status:"406",
            title:"Not Acceptable",
            detail:"The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY" enableNotifications="true" logException="true">
                <logger level="ERROR" doc:name="Logger" doc:id="2f08aef4-83c7-441a-8a54-eb36fdd3c7b0" message="CHECK: #[error]"/>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="97271353-26d5-45f2-9948-8855d42e3656">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"500",
            code:"ERR500",
            status:"500",
            title:"Internal Server Error",
            detail:error.detailedDescription,
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\network\service:poc_nisc_service_assurance_experience_api_v4-config">
        <flow-ref doc:name="getAllNetworkServiceByFilter" doc:id="415dfd0e-d2d5-4cbc-9a18-75f30414fd5c" name="getAllNetworkServiceByFilter" />
    </flow>
    <flow name="get:\network\service\(id):poc_nisc_service_assurance_experience_api_v4-config">
        <flow-ref doc:name="getServiceIdFromUri" doc:id="f91caabd-59ad-460e-98ff-286f518a5895" name="getServiceIdFromUri" />
		<flow-ref doc:name="getNetworkServiceById" doc:id="0d48dd8b-bb5f-4260-96ee-288848615791" name="getNetworkServiceById" />
    </flow>
	<sub-flow name="getServiceIdFromUri" doc:id="a988efec-a8c9-4ca1-b35e-601cb2550232" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
</mule>
